<div class="flex flex-col mt-5">
  <div class="flex flex-row">
    <div class="flex flex-col justify-center px-10">
      <div class="flex font-montserrat items-center md:text-4xl text-2xl">
        All in one platform to build, market, and sell live courses, workshops,
        meet online, manage events and learning communities.
      </div>
      <div class="flex">
        <a href="/login"><button
        
          class="rounded-lg bg-[#00ABEB] text-xl text-white py-2 px-5 mt-4 shadow-sm hover:shadow-xl duration-500"
        >
          Join
        </button></a>
      </div>
    </div>

    <div class="w-full flex flex-col md:visible invisible">
      <img
      width="1000px"
        alt="vedubox"
        src="assets/img/En-Vedubox-Features-2-1.png"
        rel="vedubox"
      />
    </div>
  </div>
</div>
