<div class="block flex-row justify-between p-2 px-20 md:flex">
  <a
    href="/"
    class="justify-center w-full mx-2 flex pb-2 hover:border-cyan-400 ease-in duration-200"
  >
    <img
      
      src="assets/img/vedubox-logo-1X.png"
      width="200"
      height="41"
      rel="vedubox"
    />
  </a>
  <a
    href="/courses"
    class="justify-center w-full mx-2 flex border-b-4 pb-2 hover:border-cyan-400 ease-in duration-200"
  >
    <button class="font-extrabold text-cyan-400 text-xl">Courses</button>
  </a>
  <a
    href="/studentpanel"
    class="justify-center w-full mx-2 flex border-b-4 pb-2 hover:border-cyan-400 ease-in duration-200"
    ><button class="font-extrabold text-cyan-400 text-xl">Profile</button>
  </a>
  <a
    href="/login"
    class="justify-center w-full mx-2 flex border-b-4 pb-2 hover:border-cyan-400 ease-in duration-200"
    ><button class="font-extrabold text-cyan-400 text-xl">Login</button>
  </a>
</div>
