<div class="felx flex-row justify-center w-screen h-screen">
  <div class="flex flex-col justify-center">
    <div class="flex flex-col border-2 m-5">
      <div class="text-center">Course Details</div>
      <div class="block md:grid grid-cols-12 m-5">
        <div class="col-span-4 border-2 block md:flex justify-center">
          <img src="assets/img/course.png" width="980" height="720" />
        </div>
        <div *ngIf="course == undefined"> Course not found!</div>
        <div
          *ngIf="course != undefined"
          class="col-span-8 block md:flex flex-col px-5 md:mt-0 mt-10"
        >
          <div class=" font-bold text-3xl">{{ course.name }}</div>
          <div class=" font-bold text-xl"><label>Teacher: </label>{{ course.teacherName }}</div>
          <div><label>Date: </label>{{ course.date }}</div>
          <div class="mt-5">
            <label>Description: </label>{{course.description}}
          </div>
          
          <div class="mt-10">
          <button class="p-4 hover:bg-emerald-700 ease-in-out duration-100 rounded-md bg-emerald-300 text-white font-semibold w-full">Enroll</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
